
  

 <div class="flex flex-wrap items-center" id="bookingSection" >
  <div class="w-full md:w-5/12 px-4 mr-auto ml-auto" style="margin-top: 100px;margin-bottom: 100px ; width: 500px;">
    <h3 style="font-size: 40px; text-align: left;">Survey Form</h3> 
    <div class="cont">
      <div class="curvy-box">
        
        <label class="lbl" for="email">Name:</label>
        <input class="inp" type="email" id="name" [(ngModel)]="name" />

        <label class="lbl" for="email">Email:</label>
        <input class="inp" type="email" id="email" [(ngModel)]="email" />
        <label class="lbl" for="contact">Contact:</label>
        <input class="inp" type="text" id="contact" [(ngModel)]="contact" />
        <label class="lbl" for="contact">Area (Sq ft):</label>
        <input class="inp" type="text" id="area" [(ngModel)]="area" />
        <label class="lbl" for="contact">Location:</label>
        <input class="inp" type="text" id="actual" [(ngModel)]="actual" />

       
        <!-- <label class="lbl" for="actual">Actual Weight (kg):</label>
        <input class="inp" type="number" id="actual" [value]="actual" (input)="actual" />

        <label class="lbl" for="boxes">no. of Boxes</label>
        <input class="inp" type="number" id="boxes" [value]="boxes" (input)="boxes"  /> -->

        <button (click)="calculateEstimated()" >Calculate Estimate</button>
        <!-- <p style="padding: 12px;" id="estimateResult">kg.{{ estimateResult }}</p>
        
        <p style="padding: 12px;" id="priceResult">Estimated Price: Rs{{ price }}</p>

         -->
        <button (click)="sendConfirmationEmail()">Confirm Booking</button>
      </div>
    </div>
  </div>
</div>

<div class="table-container" *ngIf="showTable">
  <table class="data-table">
    <thead>
      <tr>
        <th>Length</th>
        <th>Breadth</th>
        <th>Height</th>
        <th>Actual Weight</th>
        <th>Estimate Result</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ length}}</td>
        <td>{{ breadth }}</td>
        <td>{{ height }}</td>
        <td>{{ actual }}</td>
        <td>{{estimateResult}}</td>
        <td>Rs{{ price }}</td>
      </tr>
    </tbody>
  </table>
</div>